@page "/"


@using System.Net.WebSockets

<PageTitle>Home</PageTitle>

<h1>Current State: @client.State.ToString()</h1>
<h1>Muted: @Muted</h1>

@code {
    
    static bool Muted  { get; set; } = false;
    private static ClientWebSocket client = new ClientWebSocket();

    Task ConnectionLoop { get; set; }
    
    [JSInvokable("ProcessAudioFromMicrophone")]
    public static async Task ProcessAudioFromMicrophone(IJSStreamReference stream)
    {
        Console.WriteLine("Data available");
        // if (Muted) return;
        // if (client.State == WebSocketState.Open) return;
        
        // Read the data from the stream
        var buffer = new byte[stream.Length];
        var read = await stream.OpenReadStreamAsync();
        await read.ReadAsync(buffer);
        
        
        Console.WriteLine("Sending " + buffer.Length + " bytes");
        await client.SendAsync(new ArraySegment<byte>(buffer), WebSocketMessageType.Binary, true, System.Threading.CancellationToken.None);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        return;
    }

}