.ico-server {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    padding-right: 5px;
}

.new-msg-ind {
    height: 100%;
    width: 10px;
    margin-right: 10px;
}

.new-msg-ind svg{
    width: 10px;
    height: 100%;
}