@inherits LayoutComponentBase
@using SocialPlatform.Client.Shared.Data
@using SocialPlatform.Client.Shared.Channels
@using SocialPlatform.Client.Shared.Services

@inject ServerService ServerService

<div class="page">
    <!-- The main layout consists of two left hand side bars, a right hand sidebar, and a main content in the center. -->
    <main>
        <div class="main-left-bar">
            <div class="server-list">
                <ServerIcon HasNewMessages="false"/>
                <ServerIcon NotificationCount="5"/>
                <ServerIcon HasNewMessages="false"/>
            </div>
            <div class="channel-list">
                @LeftPanel
            </div>
        </div>
        <div class="main-content">
            @MiddlePanel
        </div>
    </main>
</div>

@code {
    [Parameter] public RenderFragment LeftPanel { get; set; } = null!;

    [Parameter] public RenderFragment MiddlePanel { get; set; } = null!;

    
    private ChannelData? CurrentChannel { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        //TODO: Link With Server Data
        ServerService.Connect();

        CurrentChannel = ServerService.Channels.FirstOrDefault();
        
        LeftPanel = @<ChannelList Channels="ServerService.Channels"/>;
        MiddlePanel = @<TextChannel Channel="(TextChannelData?)CurrentChannel"/>;
        
        
        
    }

}