@using SocialPlatform.Client.Shared.Components
@inherits LayoutComponentBase
<div class="page">
    <!-- The main layout consists of two left hand side bars, a right hand sidebar, and a main content in the center. -->
    <main>
        <div class="main-left-bar">
            <div class="server-list">
                <ServerIcon HasNewMessages="false"/>
                <ServerIcon NotificationCount="5"/>
                <ServerIcon HasNewMessages="false"/>
            </div>
            <div class="channel-list">
                <ChannelList/>
            </div>
        </div>
        <div class="main-content">
            <div class="top-bar">
                <TopBar Style="height: 100%;" Context="Foo" Description="Channel for Bar"/>
            </div>
            <div class="row-container">
                <div class="content">
                </div>
                <div class="member-list">
                    <UserStatus/>
                </div>
            </div>
        </div>
        
    </main>
</div>