main {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.main-left-bar {
    min-width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.server-list {
    background-color: var(--theme-background-tertiary);
    width: 75px;
    height: max(100vh,max-content);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.server-icon {
    width: 100%;
    height: 75px;
    margin-top: 5px;
}

.channel-list {
    background-color: var(--theme-background-secondary);
    width: max-content;
    height: 100vh;
    min-width: 150px;
    flex-grow: 1;
    overflow-y: auto;
}
.main-content {
    background-color: var(--theme-background-primary);
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.content {
    width: 80%;
    min-width: 300px;
    overflow-y: scroll;
    height: auto;
}

.member-list {
    background-color: var(--theme-background-secondary);
    width: 20%;
    height: 100%;
    min-width: 100px;
    padding-left: 10px;
    overflow-y: auto;
}

