@inherits LayoutComponentBase
@using SocialPlatform.Client.Shared.Data
@using SocialPlatform.Client.Shared.Channels
@using SocialPlatform.Client.Shared.Services

@inject ServerService ServerService

<div class="page">
    <!-- The main layout consists of two left hand side bars, a right hand sidebar, and a main content in the center. -->
    <main>
        <div class="main-left-bar">
            <div class="server-list">
                <ServerIcon HasNewMessages="false"/>
                <ServerIcon NotificationCount="5"/>
                <ServerIcon HasNewMessages="false"/>
            </div>
            <div class="channel-list">
                @LeftPanel
            </div>
        </div>
        <div class="main-content">
            @MiddlePanel
        </div>
    </main>
</div>

@code {
    [Parameter] public RenderFragment LeftPanel { get; set; } = null!;

    [Parameter] public RenderFragment MiddlePanel { get; set; } = null!;

    
    private ChannelData? CurrentChannel { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        //TODO: Link With Server Data
        ServerService.Connect();

        CurrentChannel = ServerService.Channels.FirstOrDefault();
        
        LeftPanel = @<ChannelList Channels="ServerService.Channels" ChannelClicked="OnChannelClicked" SelectedChannelId="CurrentChannel?.Id"/>;
        MiddlePanel = 
            @<div style="height: 100%; width: 100%; margin: 0; padding: 0;">
                @if (CurrentChannel is TextChannelData textData) 
                {
                    <TextChannel Channel="textData"/>
                }
              
                @if (CurrentChannel is WhiteboardChannelData whiteboardData)
                {
                    <WhiteboardChannel Channel="whiteboardData"/> 
                }
           </div>;



    }

    private void OnChannelClicked(string obj)
    {
        if (obj == CurrentChannel?.Id)
        {
            // Do nothing if the channel is already selected
            return;
        }
        
        var temp = ServerService.Channels.FirstOrDefault(x => x.Id == obj);
        if (temp?.Type == TextChannelData.ChannelType)
        {
            // Access the text channel
            CurrentChannel = temp;
        }
        else if (temp?.Type == VoiceChannelData.ChannelType)
        {
            // Do nothing
        }
        else if (temp?.Type == CategoryChannelData.ChannelType)
        {
            // Do nothing
        }
        else if (temp?.Type == WhiteboardChannelData.ChannelType)
        {
            // Access the whiteboard channel
            CurrentChannel = temp;
        }
        StateHasChanged();
    }
}
